<script type="text/javascript">
	$(document).ready( function () {

		
	    

    	var otherHeight = $('body').height() - $('#attribution').height()
    	var tableHeight = $(window).height() - otherHeight - 1;
    	var table = $('#attribution').DataTable({
				"language": {
        			search: "Suche nach Kürzel:"
    			},
    			"scrollY": tableHeight,
				"scrollX": true,
				"scrollCollapse": true,
				"paging": false,
				"info": false,
				"stateSave": true,
				"scroller": true,
				"fixedColumns": true,
				
        		

				dom: 'Bfrtip',
				buttons: [
			        {
			            extend: 'collection',
			            text: 'Stufenwahl',
			            buttons: [
		            
				            {
				                extend: 'colvisGroup',
				                text: 'Unterstufe',
				                show: [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 ],
				                hide: [ 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41,42,43,44,45 ]
				            },
				            {
				                extend: 'colvisGroup',
				                text: 'Mittelstufe',
				                show: [ 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25 ],
				                hide: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10 ,26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41,42,43,44,45]
				            },
				            {
				                extend: 'colvisGroup',
				                text: 'Oberstufe',
				                show: [ 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41,42,43,44,45],
				                hide: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10 , 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, ]
				            },
				            {
				                extend: 'colvisGroup',
				                text: 'Alle',
				                show: ':hidden'
				            },
				            
		        			
				        ]
			        },
			        {
			            extend: 'collection',
			            text: 'Export',
			        	buttons: [	'excel', 
			        				'print',
			        				{
				            			extend: 'pdf',
				            			text: 'PDF',
				            			orientation: 'landscape',
				            			exportOptions: {
				               			 	modifier: {
				                    			page: 'current'
				                    		}
				            			}
		        					}
			        	]
        			}
			    ]
				

    			
		});
		$('#attribution tbody').on( 'mouseenter', 'td', function () {
            var colIdx = table.cell(this).index().column;
 
            $( table.cells().nodes() ).removeClass( 'highlight' );
            $( table.column( colIdx ).nodes() ).addClass( 'highlight' );
        } ); 
	 
	} );

		$(document).ready(function() {
            $('.tooltip').tooltipster({
			    
			    content: 'Lade...',
			    
			    functionBefore: function(origin, continueTooltip) {

			        // we'll make this function asynchronous and allow the tooltip to go ahead and show the loading notification while fetching our data
			        continueTooltip();
			        
			        // next, we want to check if our data has already been cached
			        if (origin.data('ajax') !== 'cached') {
			            $.ajax({
			                type: 'GET',
			                url: '/subject/'+$(this).attr("id")+'/teacher_suggestions',
			                success: function(data) {
			                    // update our tooltip content with our returned data and cache it
			                    origin.tooltipster('content', data).data('ajax', 'cached');
			                }
			            });
			        }
			    }
			});

        });
</script>

<form action="/attribution" method="post">
	<input type="hidden" name="_method" value="put">
		<table id="attribution" class="display" >
			<thead>
				
				<th bgcolor="#F0FAFC" >Fach</th>
				<% @schoolclasses.each do |schoolclass| %>
					<th>
						<%= schoolclass.name %>
					</th> 
				<% end %>

			</thead>
			<tbody>
				<% for i in 0..((@@attrib_table.size)-1) do %>
					<%= @@attrib_table[i].to_s %>
				<% end %>
			</tbody>
			<tfoot>
				
				<th bgcolor="#F0FAFC" >Fach</th>
				<% @schoolclasses.each do |schoolclass| %>
					<th>
						<%= schoolclass.name %>
					</th> 
				<% end %>
			</tfoot>
		</table>

		
</form>

