<p>Stundentafel:</p>
<%= "<!--" + @@attrib_table[0].to_s + "-->"%>
	<form action="/attribution" method="post">
		<input type="hidden" name="_method" value="put">
			<table id="attribution">
				<th>Fach</th>
				<% @schoolclasses.each do |schoolclass| %>
					<th>
						<%= schoolclass.name %>
					</th> 
				<% end %>
				<% for i in 0..((@@attrib_table.size)-1) do %>
					<%= @@attrib_table[i].to_s %>
				<% end %>
			</table>
		 <!-- <input type="submit">  -->

		

		
	</form>