<h1>Neues Profil anlegen:</h1> 
<p>Nach dem Anlegen des Profils können Sie die Fächer- und Klassenzuordnung vornehmen.</p>

<form action="/profiles" method="post">
	<p>
		Bezeichnung des neuen Profils: <input type="text" name="profile_name" placeholder="Bezeichnung eingeben">
		<input type="submit" value="Profil anlegen">	
	</p>
</form>